using System;

Window {
    Title: "kjgkhj",
    Icon: BitmapImage("Icon.ico"),
    WindowState: Maximized,
    
    Content: Grid {
        Width: 100,
        ColumnDefinitions: [
            ColumnDefinition(),
            ColumnDefinition()
        ],

        Children: [
            TextBlock {
                Text: @(ElementName = tb, Path = Text, Mode = OneTime)
            },
            TextBox#tb
        ]
    }
}